rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Shopping List Collection
    match /shoppingList/{document=**} {
      allow read, write: if true;
    }
    
    // Menu Collection
    match /menu/{document=**} {
      allow read, write: if true;
    }
  }
}


